.App {
  transition: all 0.5s ease-in-out;
}
.section__padding {
  padding: 4rem 6rem;
}
.section__margin {
  margin: 4rem 6rem;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  color: unset;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
}
.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex__start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.flex__end {
  display: flex;
  justify-content: flex-end;
  align-items: flex__end;
}
.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}
.app__wrapper_img img {
  width: 80%;
}
