@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
  --font-family: 'Roboto Mono', monospace;
  --color-white: #FFFFFF;
  --color-gray: #545454;
  --color-black: #0C0C0C;
  --color-navbar:#0f1331;
  --color-border: #a5a6b1;
  --color-gradient: linear-gradient(90deg, rgba(20, 19, 27, 1) 0%, rgba(20, 19, 27, 1) 50%, rgba(36, 72, 160, 1) 100%);
  --color-background: #14131b;
  --color-text: rgb(101, 95, 95);
  --color-projects: radial-gradient(circle at 0% 30%, rgba(128, 64, 127, 1) 0%, rgba(0, 0, 0, 1) 71%, rgba(0, 0, 0, 0.97) 100%);
  --color-project:linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(11, 13, 13, 1) 75%, rgba(108, 112, 113, 1) 100%, rgba(86, 84, 106, 1) 100%, rgba(108, 112, 113, 1) 100%);
  --color-sidebar:#231f2c ;
  --color-gradient-gallery:radial-gradient(circle at 100% 100%, rgba(137, 82, 56, 1) 0%, rgba(0, 0, 0, 1) 49%, rgba(96, 39, 72, 1) 100%);
}
* {
  scroll-behavior: smooth;
}
.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
.background__gradient {
  /* ff 3.6+ */
  background: -moz-linear-gradient(90deg, rgba(40, 37, 54, 1) 0%, rgba(75, 125, 131, 1) 68%, rgba(19, 12, 96, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(90deg, rgba(40, 37, 54, 1) 0%, rgba(75, 125, 131, 1) 68%, rgba(19, 12, 96, 1) 100%);

  /* opera 11.10+ */
  background: -o-linear-gradient(90deg, rgba(40, 37, 54, 1) 0%, rgba(75, 125, 131, 1) 68%, rgba(19, 12, 96, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#130C60', endColorstr='#282536', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(90deg, rgba(40, 37, 54, 1) 0%, rgba(75, 125, 131, 1) 68%, rgba(19, 12, 96, 1) 100%);

  /* global 94%+ browsers support */
  background: linear-gradient(90deg, rgba(40, 37, 54, 1) 0%, rgba(75, 125, 131, 1) 68%, rgba(19, 12, 96, 1) 100%);
}

.text__gradient {
  /* ff 3.6+ */
  background: -moz-linear-gradient(90deg, rgba(47, 40, 138, 1) 0%, rgba(36, 33, 74, 1) 50%, rgba(115, 54, 54, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(90deg, rgba(47, 40, 138, 1) 0%, rgba(36, 33, 74, 1) 50%, rgba(115, 54, 54, 1) 100%);

  /* opera 11.10+ */
  background: -o-linear-gradient(90deg, rgba(47, 40, 138, 1) 0%, rgba(36, 33, 74, 1) 50%, rgba(115, 54, 54, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#733636', endColorstr='#2F288A', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(90deg, rgba(47, 40, 138, 1) 0%, rgba(36, 33, 74, 1) 50%, rgba(115, 54, 54, 1) 100%);

  /* global 94%+ browsers support */
  background: linear-gradient(90deg, rgba(47, 40, 138, 1) 0%, rgba(36, 33, 74, 1) 50%, rgba(115, 54, 54, 1) 100%);
}
.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
